 
 * {
  box-sizing: border-box;
}
h1{
 text-align:center;
}
/* nav bar css*/
 #navBar{
   position:fixed;
    width:100%;
    top:0;
  
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ABEBC6;
  }
 
 
  body{
     background-color:#ABEBC6;
  }

 
 /*
  FAVOURITE QUATATION*/
   #favoQuote{
      
       padding: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .quote{
     font:italic;
     margin-top:50px;
   }
   p{
     text-align: center;
   }
   