 
 * {
  box-sizing: border-box;
}
h1{
 text-align:center;
}
/* nav bar css*/
 #navBar{
   position:fixed;
    width:100%;
    top:0;
  
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #DDD4D4;
  }
  /* Home css*/
 #gallery{
    background-color: rgb(221, 212, 212);
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
   
  }

  /*gallery css*/






.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
   }
  }